<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKtGB6Op62POxcPzikiiK0ApxFaKdHtoo</string>
	<key>GCM_SENDER_ID</key>
	<string>958947889534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pira.pira.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pira-1c3c9</string>
	<key>STORAGE_BUCKET</key>
	<string>pira-1c3c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958947889534:ios:6f08f8c6e4cef5ae88e32f</string>
</dict>
</plist>